# Ignore all CSV files by default
*.csv

# ✅ But keep these important project datasets
!koengage_dataset.csv
!koengage_testset.csv
!conversation_titles.csv
!conversation_titles_with_translation.csv
!conversation_titles_with_finetuned_translation.csv
!conversation_titles_with_testset_predictions.csv

# Python cache and environment files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment folders
.venv/
env/
venv/
koengage_env/

# VS Code settings
.vscode/

# Model folders
/models/
mbart-koengage-finetuned/
